/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*////////////// END OF CSS RESET ////////////////*/

:root {
    font-size: 10px;
    font-family: 'Lato', sans-serif;
}

header {
    position: relative;
    height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.219);
}

header .title {
    font-family: 'Poppins', sans-serif;
    font-size: 4.5rem;
    font-weight: 500;
}

header .buttons {
    width: 125px;
    height: 45px;
    font-size: 19px;
    background-color: #fff;
    border: 3px solid rgb(174, 137, 73);
    cursor: pointer;
    border-radius: 6px;
    transition: background-color, .2s color, .15s;
}

header .buttons:hover {
    background-color: rgb(174, 137, 73);
    color:#fff;
}

header .login {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

header .login > img {
    height: 25px;
    transition: filter, .15s;
}

header .login:hover > img {
    filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(305deg) brightness(103%) contrast(101%);
}

main {
    background-color: rgb(238, 238, 238);
    height: 652px;
    overflow: scroll;
    padding: 25px;
}

.books-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 250px;
    gap: 25px;
}

.book-card {
    display: grid;
    grid-template-rows: 1fr 53px;
    padding: 0 15px;
    text-align: center;
    background-color: #fff;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.232);
    border-radius: 25px;
}

.info {
    align-self: center;
}

.book-card > .info > .title {
    font-size: 30px;
    font-weight: 600;
}

.book-card > .info > .author {
    font-size: 24px;
    font-style: italic;
    margin-top: 3px;
}

.book-card > .info > .pages {
    margin-top: 10px;
    font-size: 20px;
}

.book-card > .options {
    display: grid;
    padding-bottom: 10px;
    overflow: hidden;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    gap: 10px;
}

.book-card > .options > .buttons {
    height: 100%;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.read {
    height: 100%;
    justify-self: center;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: rgba(144, 245, 149, 0.6);
    border: 2px solid rgb(78, 133, 81);
    cursor: pointer;
    transition: background-color, .1s;
}

.book-card > .options img {
    height: 33px;
}

.book-card .update img {
    align-self: flex-start;
}

.overlay {

    position: absolute;
    display: grid;
    place-content: center;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
}

form {
    position: relative;
    background-color: #fff;
    padding: 20px 0;
    width: 500px;
    height: 100%;
    border-radius: 20px;
    border: 2px solid grey;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.613);
}

fieldset {
    display: grid;
    place-items: center;
    grid-template-rows: repeat(4, 1fr) 55px;
    row-gap: 20px;
}

fieldset > legend {
    text-align: center;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    margin: 20px 0;
}

fieldset > img {
    height: 40px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}

form div {
    display: grid;
    width: 75%;
    margin: auto;
    align-items: center;
    grid-template-columns: 90px 1fr;
}

form label {
    font-weight: 500;
    font-size: 22px;
}

form input, select {
    height: 3.5rem;
    padding-left: .5rem;
    font-size: 1.5rem;
}

form button {
    height: 100%;
    width: 175px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    background-color: #fff;
    border: 3px solid grey;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color, .2s;
}

form button:hover {
    background-color: rgb(221, 221, 221);
}

.delete {
    display: none;
}

.unread {
    background-color: rgba(245, 144, 144, 0.6);
    border: 2px solid rgb(133, 78, 78);
    transition: background-color, .1s;
}

.unread:before {
    content: 'un';
}

.read:hover {
    background-color: rgba(115, 197, 119, 0.6);
}

.unread:hover {
    background-color: rgba(188, 111, 111, 0.6);
}